doctype html
html
    head
        h1= title
        style
            include ../css/main.css
    body
        - let classes = ['w3-input', 'w3-border', 'w3-round']
    if peoplePage
        a(href="http://localhost:7000/cars/") To Cars

        form(action="", method="post" id="search")
            input(type="text" name="personSearch" placeholder="Search" list="peopleList" id="peopleSearch")
            datalist(id="peopleList")
                each person in people
                    option= person.person_name + ' ' + person.lastname + ', id: ' + person.id
        hr

        form(action="", method="post")
            input(type="text", name="person_name", placeholder="Name", required)
            input(type="text", name="lastname", placeholder="Last Name", required)
            input(type="text", name="fathersname", placeholder="Fathers Name")
            input(type="number", name="id", placeholder="ID", required)
            input(type="date", name="birthday", data-date-format="DD MMMM YYYY", placeholder="Birthday")

            button Add Person

        ul
            each person in people
                li= person.person_name + ' ' + person.lastname

    if carPage
        a(href="http://localhost:7000/") Go Back

        form(action="", method="post")
            input(type="text" name="carSearch" placeholder="Search" list="carSearch" id="carSearch")
            datalist(id="carSearch")
                each car in cars
                    option= car.car_name + ' ' + car.model
        hr
 
        form(action="", method="post")
            select(name="owner")
                option= 'Owner'
                each person in people
                    option= person.person_name
            input(type="text", name="car_name", placeholder="Name", required)
            input(type="text", name="model", placeholder="Model", required)
            input(type="text", name="vin", placeholder="VIN", required)
            input(type="text", name="num", placeholder="Number", required)
            input(type="text", name="color", placeholder="Color")

            button Add a car
        
        ul
            each car in cars
                li= car.car_name + ' ' + car.model
        
